@font-face {
    font-family: 'Arimo';
    src: url('../fonts/Arimo-Regular.eot');
    src: url('../fonts/Arimo-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Arimo-Regular.woff2') format('woff2'),
        url('../fonts/Arimo-Regular.woff') format('woff'),
        url('../fonts/Arimo-Regular.ttf') format('truetype'),
        url('../fonts/Arimo-Regular.svg#Arimo-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Arimo';
    src: url('../fonts/Arimo-Bold.eot');
    src: url('../fonts/Arimo-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Arimo-Bold.woff2') format('woff2'),
        url('../fonts/Arimo-Bold.woff') format('woff'),
        url('../fonts/Arimo-Bold.ttf') format('truetype'),
        url('../fonts/Arimo-Bold.svg#Arimo-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Arimo';
    src: url('../fonts/Arimo-BoldItalic.eot');
    src: url('../fonts/Arimo-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Arimo-BoldItalic.woff2') format('woff2'),
        url('../fonts/Arimo-BoldItalic.woff') format('woff'),
        url('../fonts/Arimo-BoldItalic.ttf') format('truetype'),
        url('../fonts/Arimo-BoldItalic.svg#Arimo-BoldItalic') format('svg');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Arimo';
    src: url('../fonts/Arimo-Italic.eot');
    src: url('../fonts/Arimo-Italic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Arimo-Italic.woff2') format('woff2'),
        url('../fonts/Arimo-Italic.woff') format('woff'),
        url('../fonts/Arimo-Italic.ttf') format('truetype'),
        url('../fonts/Arimo-Italic.svg#Arimo-Italic') format('svg');
    font-weight: normal;
    font-style: italic;
}

