.bg-color-green {
    background-color: #89c331;
}
.bg-color-red {
    background-color: #f04a56;
}
.bg-color-greenblue {
    background-color: #20807c;
}
.bg-color-dark {
    background-color: #484848;
}