@import"reset.css";
@import"fonts-style.css";
@import"style.color.css";

.plan-header-price,
.plan2-header-title,
.plan2-item-value,
.plan-item-title,
.plan-item-value,
.plan-action-btn {
    padding: 25px 0;
    text-transform: uppercase;
    text-align: center;
    vertical-align: middle;
}
.pricing-plan, .pricing-plan2 {
    background: #3a4965;
    width: 100%;
    font-family: 'Arimo', sans-serif;
    font-size: 16px;
    line-height: 22px;
    color: #484848;
}
.container {
    max-width: 1140px;
    margin: 0 auto;
    padding: 20px 15px;
}
.pricing-table, .pricing-table2 {
    width: 100%;
    background: #fafafa;
}
.plan-header-title {
    width: 24.3%;
    padding: 27px 0;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    color: #fff;
}

.plan2-item-value, 
.plan2-item-price, 
.plan2-header-title {
    box-shadow: inset 0 -4px 3px -2px #00000030;
}
.far, .fas {
    color: #848484;
    font-size: 22px;
    padding-right: 12px;
    transform: translateY(2px);
}
.plan-header-title.lable {
    font-size: 30px;
    color: #484848;
    vertical-align: middle;
    text-transform: uppercase;
    font-weight: bold;
}
.first-line {
    display: block;
    margin-bottom: 6px;
    font-size: 18px;
}
.first-line2 {
    display: block;
    margin-bottom: 3px;
    font-size: 16px;
}

.price-value-warp {
    display: flex;
    justify-content: center;
    align-items: center;
}
.price-value-amount {
    font-size: 60px;
    font-weight: bold;
}
.price-value-period {
    font-size: 18px;
}
.price-value-period::before {
    content: ".99";
    font-size: 24px;
    font-weight: bold;
    display: flex;
}
.plan-item, .plan2-header .plan2-header-title, .plan2-price .plan2-item-value {
    transition: 0.5s;
}
.plan-item:nth-child(odd),
.plan2-item-value:nth-child(odd),
.plan2-header-title:nth-child(odd){
     background-color: #f2f2f2;
 }
.plan-item:nth-child(even),
.plan2-item-value:nth-child(even),
.plan2-header-title:nth-child(even){
    background-color: #e3e3e3;
}
.plan-item:hover,
.plan2-price:hover .plan2-item-value {
    background-color: #484848;
    color:  #e3e3e3;
}
.plan-header-title:nth-child(n+3),
.plan-header-price:nth-child(n+2),
.plan-item-value:nth-child(n+3),
.plan-action-btn:nth-child(n+3) {
    box-shadow: inset 4px 0 3px -2px #00000030;
}
.plan-header-title:first-child,
.plan-item-title:first-child,
.plan-action-btn:first-child {
    width:27.1%;
   box-shadow: inset -4px 0 3px -2px #00000030;
}
.action-btn-link,
.action-btn2-link {
    display: block;
    padding: 15px 15px 7px;
    font-weight: bold;
    color: #f2f2f2;
    border-radius: 5px;
    box-shadow: 0 4px 4px #00000040;
    border-bottom: 6px solid #00000020;
    box-sizing: border-box;
    text-decoration: none;
    margin: auto;
    transition: 0.1s;
}
.action-btn-link {
    max-width: 200px;
}
.action-btn-link:hover,
.action-btn2-link:hover {
    box-shadow: inset 0 6px 5px #00000020;
    border-bottom-color: #00000010;
}
.plan2-header-title {
    width: 13.8%;
    font-size: 16px;
    font-weight: bold;
}
.plan2-header-title.lable {
    font-size: 20px;
}
.plan2-header-title:first-child {
    width: 17.2%;
}
.price2-value-warp {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
}
.plan2-item-price {
    font-weight: bold;
    font-size: 24px;
    text-align: center;
    text-transform: uppercase;
    color: #fff;
    padding: 18px 0;
}
.price2-value-amount {
    font-size: 36px;
}
.price2-value-amount::after {
    content: ".99";
    font-size: 18px;
    transform: translateY(-13px);
    display: inline-block;
}
.price2-value-period {
    font-size: 14px;
}
.action-btn2-link {
    font-size: 16px;
    max-width: 144px;
}
.plan2-item-value {
    word-spacing: 150px;
}
.plan2-header .far, .plan2-header .fas {
    display: grid;
    padding: 0 0 4px 0;
}
